[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-seed = "*"
psycopg2-binary = "*"
pymysql = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-cors-headers = "*"
uwsgi = "*"

[dev-packages]

[scripts]
mm = "python manage.py makemigrations"
mi = "python manage.py migrate"
rs = "python manage.py runserver"
w-all = """PowerShell.exe -Command "python manage.py makemigrations; python manage.py migrate; python manage.py runserver" """
m-all = "python manage.py makemigrations && python manage.py migrate && python manage.py runserver"
deploy-all = "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0:8000"
deploy-seed = "python manage.py seed_priorities && python manage.py seed_deploy_majors && python manage.py seed_buildings && python manage.py seed_lockers && python manage.py seed_users2"
deploy-rs = "python manage.py runserver 0:8000"
pd = "python manage.py seed_priorities"
mtd = "python manage.py seed_test_majors"
mdd = "python manage.py seed_deploy_majors"
bd = "python manage.py seed_buildings"
ld = "python manage.py seed_lockers"
ud = "python manage.py seed_users"
ud2 = "python manage.py seed_users2"
ad = "python manage.py seed_applies"
w-alld = """PowerShell.exe -Command "python manage.py seed_priorities; python manage.py seed_test_majors; python manage.py seed_buildings; python manage.py seed_lockers; python manage.py seed_users; python manage.py seed_applies;" """
m-alld = "python manage.py seed_priorities && python manage.py seed_test_majors && python manage.py seed_buildings && python manage.py seed_lockers && python manage.py seed_users && python manage.py seed_applies"
m-del = 'find . -path "./*/migrations/*.py" ! -name "__init__.py" -delete'
