[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-seed = "*"

[dev-packages]

[scripts]
mm = "python manage.py makemigrations"
mi = "python manage.py migrate"
rs = "python manage.py runserver"
