[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-seed = "*"
psycopg2-binary = "*"
pymysql = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-cors-headers = "*"

[dev-packages]

[scripts]
mm = "python manage.py makemigrations"
mi = "python manage.py migrate"
rs = "python manage.py runserver"
w-all = """PowerShell.exe -Command "python manage.py makemigrations; python manage.py migrate; python manage.py runserver" """
md = "python manage.py seed_majors"
bd = "python manage.py seed_buildings"
ld = "python manage.py seed_lockers"
ud = "python manage.py seed_users"
w-alld = """PowerShell.exe -Command "python manage.py seed_majors; python manage.py seed_buildings; python manage.py seed_lockers; python manage.py seed_users;" """
m-alld = "python manage.py seed_majors && python manage.py seed_buildings && python manage.py seed_lockers && python manage.py seed_users"
m-del = 'find . -path "./*/migrations/*.py" ! -name "__init__.py" -delete'

